@import url(../assets/fonts/font.css);

#app,
#app_air_condition {
  width: 100%;
  height: 100%;
  min-width: $app-min-width;
}

micro-app,
micro-app-body {
  width: 100%;
  height: 100%;
}

// ===============================================

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "PingFang SC", "PingFang SC-Medium", "Microsoft YaHei", CiscoSans, Arial, sans-serif;
  font-weight: 400;
  // font-family: "PingFang SC", "Microsoft JhengHei", "Microsoft YaHei", CiscoSans, Arial, sans-serif;
  color: $c-text-5;

  &.color-weak {
    filter: invert(80%);
  }

  &.gray-mode {
    filter: grayscale(100%);
    filter: progid:dximagetransform.microsoft.basicimage(grayscale=1);
  }
}

body {
  font-size: 14px;
}

div,
section,
nav,
article,
aside,
h1,
h2,
h3,
h4,
h5,
h6,
header,
main,
address,
p,
ol,
ul,
dl,
li {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

// ===============================================

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset !important;
}

:-webkit-autofill {
  transition: background-color 5000s ease-in-out 0s !important;
}