.el-collapse.treebox {
  .el-collapse-item__header {

    height: 40px !important;
    line-height: 40px !important;
    background-color: #f7f8fa !important;
    font-weight: 500;
  }

  .el-collapse-item__wrap {
    border-bottom: none !important;
  }

  .el-collapse-item__content {
    padding-bottom: 0 !important;
    line-height: 1 !important;
  }
}