.el-dialog__header {
  padding-bottom: 0 !important;
  padding: 12px 16px !important;
  margin-right: 0px !important;
  border-bottom: 1px solid #e5e6eb;
  display: flex !important;
  align-items: center !important;
  justify-content: space-between;
  position: relative;

  .el-dialog__headerbtn {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    height: auto !important;
    width: auto !important;
    padding: 5px;
    position: relative;
    top: 0px;

    .el-dialog__close {
      color: var(--el-color-primary)
    }
  }
}

.el-dialog__body {
  padding: 40px;
}

.el-dialog__footer {
  border-top: 1px solid #e5e6eb;
  padding: 16px !important;
}