.el-popover {
  --el-popover-bg-color: var(--el-bg-color-overlay);
  --el-popover-font-size: var(--el-font-size-base);
  --el-popover-border-color: var(--el-border-color-lighter);
  --el-popover-padding: 12px;
  // --el-popover-padding: 0px !important;
  --el-popover-padding-large: 18px 20px;
  --el-popover-title-font-size: 16px;
  --el-popover-title-text-color: var(--el-text-color-primary);
  --el-popover-border-radius: 4px;
}

.el-popover.el-popper {
  min-width: 0px !important;
}