.iemp-table-header {
  .el-table__cell {
    background-color: $c-fill-2 !important;
    color: $c-text-5 !important;
    font-size: 14px;
    font-weight: 500;
    height: 22px;
    line-height: 22px;
  }
}